<html>
    <head>
        Login page
    </head>
    <body>
        <form action='/ul' method="POST">
            <input type="text" id="num" name="num">
            <button type="submit" id="submit">Get Data</button>
        </form>
        <form action="/logi" method="POST">
            <input type="text" id="uname" name="uname">
            <button type="submit" name="submit">Submit</button>
        </form>

        <form action='/logout' method="POST">
            <input type="text" id="luname" name="luname">
            <button type="submit" id="logout">Logout</button>
        </form>
    </body>
</html>